.mat-form-field, .mat-table, .icon-button{
    width: 70%;
    margin-left: 15%;
}

.icon-button {
    margin-top: 5px;
}

  /* Structure */
.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    padding-top: 100px;
}

.save-button {
    text-align: right;
    margin-top: 5%;
}

.mat-snack-bar-container {
    padding-top: 100px;
}