<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<nav class="navbar  navbar-inverse  navbar-fixed-top navbar-default">
  <div class="container">
    <a class="navbar-brand" routerLink="quotation/quotation-list" routerLinkActive="active"> SRM-CONNECT</a>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-target">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>